## Settings file was created by plugin Huntdown v1.3.1
## Plugin GUID: doggosuki.Huntdown

[1: Settings]

## 0: Display both whether you have a target, and its name.
## 1: Display whether you have a target, but without its name.
## 2: Never display if you have a target.
# Setting type: Int32
# Default value: 0
Display Target = 2

## The percent chance that your team will receive a target to hunt.
# Setting type: Int32
# Default value: 100
# Acceptable value range: From 0 to 100
% Chance of Mission = 50

## Makes it more likely to get missions you haven't been given yet to keep things fresh.
# Setting type: Boolean
# Default value: true
Dynamic Weights = true

[2: Toggle Missions]

## Whether a Snare Flea can be assigned as the hunt target or not.
# Setting type: Boolean
# Default value: true
Huntable Snare Flea = true

## Whether a Bunker Spider can be assigned as the hunt target or not.
# Setting type: Boolean
# Default value: true
Huntable Bunker Spider = true

## Whether a Hoarder Bug can be assigned as the hunt target or not.
# Setting type: Boolean
# Default value: true
Huntable Hoarder Bug = true

## Whether a Bracken can be assigned as the hunt target or not.
# Setting type: Boolean
# Default value: true
Huntable Bracken = true

## Whether a Thumper can be assigned as the hunt target or not.
# Setting type: Boolean
# Default value: true
Huntable Thumper = true

## Whether a Nutcracker can be assigned as the hunt target or not.
# Setting type: Boolean
# Default value: true
Huntable Nutcracker = true

## Whether a Masked can be assigned as the hunt target or not.
# Setting type: Boolean
# Default value: true
Huntable Masked = true

## Whether you are brave enough to give headpats or not.
# Setting type: Boolean
# Default value: true
Huntable Good Boy = false

## Whether you can stumble upon the Bug Mafia's operations or not.
# Setting type: Boolean
# Default value: true
Huntable Bug Mafia = true

[3: Mission Weights]

## Higher value = more likely. The likelihood that a Snare Flea will be the target.
# Setting type: Int32
# Default value: 150
Snare Flea Weight = 150

## Higher value = more likely. The likelihood that a Bunker Spider will be the target.
# Setting type: Int32
# Default value: 150
Bunker Spider Weight = 150

## Higher value = more likely. The likelihood that a Hoarder Bug will be the target.
# Setting type: Int32
# Default value: 150
Hoarder Bug Weight = 150

## Higher value = more likely. The likelihood that a Bracken will be the target.
# Setting type: Int32
# Default value: 100
Bracken Weight = 100

## Higher value = more likely. The likelihood that a Thumper will be the target.
# Setting type: Int32
# Default value: 150
Thumper Weight = 150

## Higher value = more likely. The likelihood that a Nutcracker will be the target.
# Setting type: Int32
# Default value: 100
Nutcracker Weight = 100

## Higher value = more likely. The likelihood that a Masked will be the target.
# Setting type: Int32
# Default value: 100
Masked Weight = 100

## Higher value = more likely. The likelihood that a Good Boy will be the target.
# Setting type: Int32
# Default value: 75
Good Boy Weight = 75

## Higher value = more likely. The likelihood that the Bug Mafia will be the target.
# Setting type: Int32
# Default value: 75
Bug Mafia Weight = 75

[4: Mission Rewards]

## How much the scrap dropped from an easy hunt is worth (Snare Flea, Hoarding Bug).
# Setting type: Int32
# Default value: 50
Easy Hunt Reward = 50

## How much the scrap dropped from a medium hunt is worth (Thumper, Bunker Spider, Masked).
# Setting type: Int32
# Default value: 100
Med Hunt Reward = 100

## How much the scrap dropped from a hard hunt is worth (Bracken, Nutcracker, Bug Mafia).
# Setting type: Int32
# Default value: 200
Hard Hunt Reward = 200

## How much the scrap dropped from an extreme hunt is worth (A very Good Boy).
# Setting type: Int32
# Default value: 300
Extreme Hunt Reward = 300

[Mission Rewards]

Easy Hunt Reward = 50

Med Hunt Reward = 100

Hard Hunt Reward = 200

Extreme Hunt Reward = 400

[Mission Weights]

Dynamic Weights = true

Snare Flea Weight = 150

Bunker Spider Weight = 150

Hoarder Bug Weight = 150

Bracken Weight = 100

Thumper Weight = 150

Nutcracker Weight = 100

Masked Weight = 100

Good Boy Weight = 50

[Settings]

Display Target = false

[Toggle Missions]

Huntable Snare Flea = true

Huntable Bunker Spider = true

Huntable Hoarder Bug = true

Huntable Bracken = true

Huntable Thumper = true

Huntable Nutcracker = true

Huntable Masked = true

Huntable Good Boy = false

