## Settings file was created by plugin Shockwave Drone v0.5.0
## Plugin GUID: droneenemy

[Drone]

## SpawnWeight for the Drone 1 - 100
# Setting type: Int32
# Default value: 60
SpawnWeight = 60

## Minimum Attack Time Interval (Actual Seconds)
# Setting type: Int32
# Default value: 15
MinAttackTime = 15

## Maximum Attack Time Interval (Actual Seconds)
# Setting type: Int32
# Default value: 60
MaxAttackTime = 60

## Percentage whether the drone will drop scrap when destroyed 1 - 100%
# Setting type: Int32
# Default value: 85
ScrapChance = 85

## The Amount of damage you take from the drone exploding
# Setting type: Int32
# Default value: 100
ExplosionDamage = 100

## Time it takes for the drone to explode after being hit
# Setting type: Single
# Default value: 0.5
ExplosionSpeed = 0.5

## The Movement speed of the drone
# Setting type: Single
# Default value: 2
MoveSpeed = 2

## Set this higher than 0 if you want the drone to move while doing an attack
# Setting type: Single
# Default value: 0
IdleSpeed = 0

## If the Drones attacks can hit through walls
# Setting type: Boolean
# Default value: false
HitThroughWalls = false

## If the Drone can collide with the player
# Setting type: Boolean
# Default value: true
HasCollision = true

