## Settings file was created by plugin WeatherRegistry v0.4.2
## Plugin GUID: mrov.WeatherRegistry

[|Debugging]

## Log weather changes to console
# Setting type: Boolean
# Default value: true
Log Weather Changes = true

## Log startup information to console
# Setting type: Boolean
# Default value: true
Log Startup = true

## Log all defined weights during startup
# Setting type: Boolean
# Default value: true
Log Startup Weights = true

## Log weight resolving to console
# Setting type: Boolean
# Default value: true
Log Weight Resolving = true

[|General]

## Enable colored weathers on map screen
# Setting type: Boolean
# Default value: true
Colored Weathers = true

## Display planet videos on map screen
# Setting type: Boolean
# Default value: false
Planet Videos = false

## Use weights for selecting weathers. Disable if you want to use vanilla algorithm.
# Setting type: Boolean
# Default value: true
Weather weights = true

## Use Registry's scrap multipliers. Disable if you prefer to use other mod's multiplier settings.
# Setting type: Boolean
# Default value: true
Scrap multipliers = true

[|SunAnimator]

## Semicolon-separated list of level names to blacklist from being patched by sun animator
# Setting type: String
# Default value: Asteroid-13;
Blacklist = Asteroid-13;

[Modded Weather: Blackout]

Default weight = 35

Scrap amount multiplier = 0.65

Scrap value multiplier = 1.7

Filtering option = false

Level filter = Gordion;

Level weights = Rend@200; Dine@200; Titan@200

WeatherToWeather weights = None@200; Cloudy@250

[Modded Weather: Cloudy]

Default weight = 25

Scrap amount multiplier = 1.6

Scrap value multiplier = 0.8

Filtering option = false

Level filter = Gordion;

Level weights = MoonName@50;

WeatherToWeather weights = Eclipsed@50;Stormy@80

[Modded Weather: Heatwave]

Default weight = 100

Scrap amount multiplier = 1.2

Scrap value multiplier = 0.9

Filtering option = true

Level filter = Experimentation;Assurance;Offense;Embrion;Artifice;EGypt;Aquatis;Affliction;Penumbra;EchoReach;Harloth;Celestria;Derelict;Infernis;Etern;Atlantica;Junic;Fission;Mantif;Sierra;Cambrian;Orion;Vertigo;Collateral;Devastation;RelayStation

Level weights = MoonName@50;

WeatherToWeather weights = WeatherName@50;

[Modded Weather: Solar Flare]

Default weight = 100

Scrap amount multiplier = 0.95

Scrap value multiplier = 1.25

Filtering option = false

Level filter = Gordion

Level weights = MoonName@50;

WeatherToWeather weights = WeatherName@50;

[Vanilla Weather: DustClouds]

Default weight = 100

Scrap amount multiplier = 1

Scrap value multiplier = 1

Filtering option = false

Level filter = Gordion;

Level weights = MoonName@50;

WeatherToWeather weights = WeatherName@50

[Vanilla Weather: Eclipsed]

Default weight = 100

Scrap amount multiplier = 1

Scrap value multiplier = 1

Filtering option = false

Level filter = Gordion;

Level weights = MoonName@50;

WeatherToWeather weights = None@300; Rainy@40; Stormy@16; Flooded@20; Foggy@60; Eclipsed@10;

[Vanilla Weather: Flooded]

Default weight = 100

Scrap amount multiplier = 1

Scrap value multiplier = 1

Filtering option = false

Level filter = Gordion;

Level weights = MoonName@50;

WeatherToWeather weights = None@160; Rainy@60; Stormy@50; Flooded@10; Foggy@60; Eclipsed@40;

[Vanilla Weather: Foggy]

Default weight = 100

Scrap amount multiplier = 1

Scrap value multiplier = 1

Filtering option = false

Level filter = Gordion;

Level weights = MoonName@50;

WeatherToWeather weights = None@200; Rainy@60; Stormy@50; Flooded@10; Foggy@30; Eclipsed@20;

[Vanilla Weather: None]

Default weight = 100

Scrap amount multiplier = 1

Scrap value multiplier = 1

Filtering option = false

Level filter = Gordion;

Level weights = MoonName@50;

WeatherToWeather weights = None@160; Rainy@100; Stormy@70; Flooded@20; Foggy@40; Eclipsed@10;

[Vanilla Weather: Rainy]

Default weight = 100

Scrap amount multiplier = 1

Scrap value multiplier = 1

Filtering option = false

Level filter = Gordion;

Level weights = MoonName@50;

WeatherToWeather weights = None@100; Rainy@60; Stormy@40; Flooded@30; Foggy@50; Eclipsed@20;

[Vanilla Weather: Stormy]

Default weight = 100

Scrap amount multiplier = 1

Scrap value multiplier = 1

Filtering option = false

Level filter = Gordion;

Level weights = MoonName@50;

WeatherToWeather weights = None@160; Rainy@110; Stormy@10; Flooded@120; Foggy@20; Eclipsed@80;

[WeatherTweaks Weather: Eclipsed + Blackout]

Enable Weather = true

Default weight = 10

Level weights = 

[WeatherTweaks Weather: Eclipsed + Flooded]

Enable Weather = true

Default weight = 10

Level weights = 

[WeatherTweaks Weather: Eclipsed + Rainy]

Enable Weather = true

Default weight = 10

Level weights = 

[WeatherTweaks Weather: Eclipsed > Foggy]

Enable Weather = true

Default weight = 15

Level weights = 

[WeatherTweaks Weather: Eclipsed > None]

Enable Weather = true

Default weight = 30

Level weights = 

[WeatherTweaks Weather: Foggy + Blackout]

Enable Weather = true

Default weight = 10

Level weights = 

[WeatherTweaks Weather: Foggy + Eclipsed]

Enable Weather = true

Default weight = 10

Level weights = 

[WeatherTweaks Weather: Foggy + Flooded]

Enable Weather = true

Default weight = 10

Level weights = 

[WeatherTweaks Weather: Foggy + Rainy]

Enable Weather = true

Default weight = 10

Level weights = 

[WeatherTweaks Weather: Foggy > None]

Enable Weather = true

Default weight = 30

Level weights = 

[WeatherTweaks Weather: None > Blackout]

Enable Weather = true

Default weight = 30

Level weights = 

[WeatherTweaks Weather: None > Foggy]

Enable Weather = true

Default weight = 15

Level weights = 

[WeatherTweaks Weather: None > Stormy]

Enable Weather = true

Default weight = 15

Level weights = 

[WeatherTweaks Weather: Rainy + Blackout]

Enable Weather = true

Default weight = 10

Level weights = 

[WeatherTweaks Weather: Rainy > Eclipsed]

Enable Weather = true

Default weight = 30

Level weights = 

[WeatherTweaks Weather: Stormy + Flooded]

Enable Weather = true

Default weight = 10

Level weights = 

[WeatherTweaks Weather: Stormy + Rainy]

Enable Weather = true

Default weight = 10

Level weights = 

[WeatherTweaks Weather: Stormy + Rainy + Eclipsed]

Enable Weather = true

Default weight = 6

Level weights = 

[WeatherTweaks Weather: Stormy + Rainy + Flooded]

Enable Weather = true

Default weight = 6

Level weights = 

[WeatherTweaks Weather: Stormy + Rainy + Flooded + Eclipsed]

Enable Weather = true

Default weight = 5

Level weights = 

[WeatherTweaks Weather: Stormy > Rainy]

Enable Weather = true

Default weight = 30

Level weights = 

