[General]

## Minimum chance of a remnant item spawning.
# Setting type: Int32
# Default value: 5
Min remnant item rarity = 1

## Maximum chance of a remnant item spawning.
# Setting type: Int32
# Default value: 25
Max remnant item rarity = 2

## Minimum remnant item battery charge on first finding it.
# Setting type: Int32
# Default value: 20
Min remnant battery charge = 20

## Maximum remnant item battery charge on first finding it.
# Setting type: Int32
# Default value: 90
Max remnant battery charge = 90

## The min percentage of how much worth of scrap a remnant item is compared to its normal credit cost. 
## From 0 percentage scrap cost to 1000 percentage.
# Setting type: Int32
# Default value: 5
Remnant item min scrap cost percentage = 5

## The max percentage of how much worth of scrap a remnant item is compared to its normal credit cost. 
## From 0 percentage scrap cost to 1000 percentage.
# Setting type: Int32
# Default value: 20
Remnant item max scrap cost percentage = 57

[GeneralBody]

## When the bodies are a scrap they can be grabbed, have a scrap value and can be sold. 
## If not then it becomes a prop and cannot be interacted with.
# Setting type: Boolean
# Default value: true
Should bodies be scrap = true

## This number is the chance that a body spawns next to an remnant item.
# Setting type: Int32
# Default value: 2
Body spawn rarity = 3

## By increasing this modifier you will increase the spawnchance of the body per risk level moon.
# Setting type: Single
# Default value: 1.2
Body spawn modifier per moon risk level = 0.7

## The scrap value of the bodies that this mod spawns. 
## This only works if the bodies are set to scrap.
# Setting type: Int32
# Default value: 5
Scrap value of the bodies = 15

[Levels]

# Setting type: Boolean
# Default value: false
Use level specific rarities = false

## Minimum chance of a remnant item spawning on moon: ExperimentationLevel .
# Setting type: Int32
# Default value: 5
ExperimentationLevel min remnant rarity = 5

## Maximum chance of a remnant item spawning on moon: ExperimentationLevel .
# Setting type: Int32
# Default value: 25
ExperimentationLevel max remnant rarity = 25

## Minimum chance of a remnant item spawning on moon: AssuranceLevel .
# Setting type: Int32
# Default value: 5
AssuranceLevel min remnant rarity = 5

## Maximum chance of a remnant item spawning on moon: AssuranceLevel .
# Setting type: Int32
# Default value: 25
AssuranceLevel max remnant rarity = 25

## Minimum chance of a remnant item spawning on moon: VowLevel .
# Setting type: Int32
# Default value: 5
VowLevel min remnant rarity = 5

## Maximum chance of a remnant item spawning on moon: VowLevel .
# Setting type: Int32
# Default value: 25
VowLevel max remnant rarity = 25

## Minimum chance of a remnant item spawning on moon: OffenseLevel .
# Setting type: Int32
# Default value: 5
OffenseLevel min remnant rarity = 5

## Maximum chance of a remnant item spawning on moon: OffenseLevel .
# Setting type: Int32
# Default value: 25
OffenseLevel max remnant rarity = 25

## Minimum chance of a remnant item spawning on moon: MarchLevel .
# Setting type: Int32
# Default value: 5
MarchLevel min remnant rarity = 5

## Maximum chance of a remnant item spawning on moon: MarchLevel .
# Setting type: Int32
# Default value: 25
MarchLevel max remnant rarity = 25

## Minimum chance of a remnant item spawning on moon: RendLevel .
# Setting type: Int32
# Default value: 5
RendLevel min remnant rarity = 5

## Maximum chance of a remnant item spawning on moon: RendLevel .
# Setting type: Int32
# Default value: 25
RendLevel max remnant rarity = 25

## Minimum chance of a remnant item spawning on moon: DineLevel .
# Setting type: Int32
# Default value: 5
DineLevel min remnant rarity = 5

## Maximum chance of a remnant item spawning on moon: DineLevel .
# Setting type: Int32
# Default value: 25
DineLevel max remnant rarity = 25

## Minimum chance of a remnant item spawning on moon: TitanLevel .
# Setting type: Int32
# Default value: 5
TitanLevel min remnant rarity = 5

## Maximum chance of a remnant item spawning on moon: TitanLevel .
# Setting type: Int32
# Default value: 25
TitanLevel max remnant rarity = 25

## Minimum chance of a remnant item spawning on moon: AdamanceLevel .
# Setting type: Int32
# Default value: 5
AdamanceLevel min remnant rarity = 5

## Maximum chance of a remnant item spawning on moon: AdamanceLevel .
# Setting type: Int32
# Default value: 25
AdamanceLevel max remnant rarity = 25

## Minimum chance of a remnant item spawning on moon: ArtificeLevel .
# Setting type: Int32
# Default value: 5
ArtificeLevel min remnant rarity = 5

## Maximum chance of a remnant item spawning on moon: ArtificeLevel .
# Setting type: Int32
# Default value: 25
ArtificeLevel max remnant rarity = 25

## Minimum chance of a remnant item spawning on moon: EmbrionLevel .
# Setting type: Int32
# Default value: 5
EmbrionLevel min remnant rarity = 5

## Maximum chance of a remnant item spawning on moon: EmbrionLevel .
# Setting type: Int32
# Default value: 25
EmbrionLevel max remnant rarity = 25

Vanilla min remnant rarity = 5

Vanilla max remnant rarity = 25

[ModdedLevels]

## Minimum chance of a remnant item spawning on moon: 20 Adamance .
# Setting type: Int32
# Default value: 5
20 Adamance min remnant rarity = 5

## Maximum chance of a remnant item spawning on moon: 20 Adamance .
# Setting type: Int32
# Default value: 25
20 Adamance max remnant rarity = 25

## Minimum chance of a remnant item spawning on moon: 68 Artifice .
# Setting type: Int32
# Default value: 5
68 Artifice min remnant rarity = 5

## Maximum chance of a remnant item spawning on moon: 68 Artifice .
# Setting type: Int32
# Default value: 25
68 Artifice max remnant rarity = 25

## Minimum chance of a remnant item spawning on moon: 44 Liquidation .
# Setting type: Int32
# Default value: 5
44 Liquidation min remnant rarity = 5

## Maximum chance of a remnant item spawning on moon: 44 Liquidation .
# Setting type: Int32
# Default value: 25
44 Liquidation max remnant rarity = 25

## Minimum chance of a remnant item spawning on moon: 5 Embrion .
# Setting type: Int32
# Default value: 5
5 Embrion min remnant rarity = 5

## Maximum chance of a remnant item spawning on moon: 5 Embrion .
# Setting type: Int32
# Default value: 25
5 Embrion max remnant rarity = 25

[Other]

## This value helps calculating the spawn rarity, the rarity is calculated by the credit cost of the shop item. 
## This caps the maximum cost of an item and setting it as min spawn rarity if it is the same or higher than this value. 
## The more an item cost, the less spawn chance/spawn rarity it has.
# Setting type: Single
# Default value: 400
Max value to calculate rarity = 400

## List of items that are barred from registering as scrap/remnant item. 
## These default items are there to avoid adding scrap that are left out of the vanilla version, don't work, or cause crashes. 
## To add more names to the list, be sure to add a comma between names.
# Setting type: String
# Default value: Clipboard,StickyNote,Binoculars,MapDevice,Key,Error
Item list banned from registering as scrap = Clipboard,StickyNote,Binoculars,MapDevice,Key,Error

## In here you can add scrap items to be treated as remnant items, to spawn bodies on and to randomize batteries. 
## To add more names to the list, be sure to add a comma between names.
# Setting type: String
# Default value: Example scrap,Scrap-example
Scrap item list to be used as remnant items = Example scrap,Scrap-example

Max increase spawn pool = 15

[Remnants]

## By changing the value you can choose what kind of spawn rarity it is.
# Setting type: Int32
# Default value: -1
Remote Radar = 5

## By changing the value you can choose what kind of spawn rarity it is.
# Setting type: Int32
# Default value: -1
Hacking Tool = 5

## By changing the value you can choose what kind of spawn rarity it is.
# Setting type: Int32
# Default value: -1
Rocket Launcher = 1

## By changing the value you can choose what kind of spawn rarity it is.
# Setting type: Int32
# Default value: -1
Pinger = 7

## By changing the value you can choose what kind of spawn rarity it is.
# Setting type: Int32
# Default value: -1
Dart = 4

## By changing the value you can choose what kind of spawn rarity it is.
# Setting type: Int32
# Default value: -1
Utility Belt = 2

## By changing the value you can choose what kind of spawn rarity it is.
# Setting type: Int32
# Default value: -1
Emergency Flare (ammo) = 8

## By changing the value you can choose what kind of spawn rarity it is.
# Setting type: Int32
# Default value: -1
Flaregun = 4

## By changing the value you can choose what kind of spawn rarity it is.
# Setting type: Int32
# Default value: -1
Boombox = 10

## By changing the value you can choose what kind of spawn rarity it is.
# Setting type: Int32
# Default value: -1
Extension ladder = 10

## By changing the value you can choose what kind of spawn rarity it is.
# Setting type: Int32
# Default value: -1
Flashlight = 5

## By changing the value you can choose what kind of spawn rarity it is.
# Setting type: Int32
# Default value: -1
Jetpack = 1

## By changing the value you can choose what kind of spawn rarity it is.
# Setting type: Int32
# Default value: -1
Lockpicker = 2

## By changing the value you can choose what kind of spawn rarity it is.
# Setting type: Int32
# Default value: -1
Pro-flashlight = 3

## By changing the value you can choose what kind of spawn rarity it is.
# Setting type: Int32
# Default value: -1
Radar-booster = 3

## By changing the value you can choose what kind of spawn rarity it is.
# Setting type: Int32
# Default value: -1
Shovel = 1

## By changing the value you can choose what kind of spawn rarity it is.
# Setting type: Int32
# Default value: -1
Spray paint = 5

## By changing the value you can choose what kind of spawn rarity it is.
# Setting type: Int32
# Default value: -1
Stun grenade = 1

## By changing the value you can choose what kind of spawn rarity it is.
# Setting type: Int32
# Default value: -1
TZP-Inhalant = 3

## By changing the value you can choose what kind of spawn rarity it is.
# Setting type: Int32
# Default value: -1
Walkie-talkie = 6

## By changing the value you can choose what kind of spawn rarity it is.
# Setting type: Int32
# Default value: -1
Zap gun = -1

## By changing the value you can choose what kind of spawn rarity it is.
# Setting type: Int32
# Default value: -1
Ouija Board = 7

## By changing the value you can choose what kind of spawn rarity it is.
# Setting type: Int32
# Default value: -1
Toy Hammer = -1

[Save/load]

## This ensures that the remnant items are saved in the ship when you reload the lobby.
# Setting type: Boolean
# Default value: true
Save remnant items = true

## On party wipe all items are despawned from the ship, this ensures that remnant items also are despawned. 
## If you use a mod that prevents items from being despawned, here you can edit it too for remnant items. 
## This will not use the transpiler for cleaning up items, and may cause issues.
# Setting type: Boolean
# Default value: true
Despawn remnant items on party wipe = true

## Despawns all remnant items when going away from moons, even if it is in the shiproom and you are holding it.
# Setting type: Boolean
# Default value: false
Always despawn remnant items = false

## List of items that are barred saving on the ship. 
## These default items are there to avoid issues with saving items on the ship. 
## To add more names to the list, be sure to add a comma between names.
# Setting type: String
# Default value: Clipboard,StickyNote,Binoculars,MapDevice,Error
Item list banned from saving = Clipboard,StickyNote,Binoculars,MapDevice,Error

[Spawning]

## The minimum remnant items that can spawn on a moon. 
## This value gets increased by the threat level a moon has, along the down below modifier.
# Setting type: Int32
# Default value: 5
Minimum remnant items spawned on a moon = 1

## The maximum remnant items that can spawn on a moon. 
## This value gets increased by the threat level a moon has, along the down below modifier.
# Setting type: Int32
# Default value: 15
Maximum remnant items spawned on a moon = 2

## A modifier that increases the spawn pool of remnant items in relative to the moon threat level. 
## Putting the value under zero, will disable this feature and will always use the normal spawn amount.
# Setting type: Single
# Default value: 1
Remnant items spawn modifier = 1

## The maximum duplicates of a remnant item that can spawn on a moon. 
## Do note that the spawning of remnant items will stop when it has used up all maximum duplicates.
# Setting type: Int32
# Default value: 4
Maximum duplicates can spawn = 1

## The Minimum remnant items found on a body.
# Setting type: Int32
# Default value: 1
Minimum remnant items found on a body = 1

## The maximum remnant items found on a body.
# Setting type: Int32
# Default value: 4
Maximum remnant items found on a body = 2

[SpawningLegacy]

## Chooses if you want to use the older version of spawning remnant items. 
## The older version spawns along the normal scrap, which can be in lockers. 
## While this is active this means that the new version will be disabled.
# Setting type: Boolean
# Default value: false
Use legacy spawning = false

## Increases the total scrap spawn pool to accommodate the remnant items spawning along the scrap items. 
## This is intended to make sure you get enough scrap value per moon.
# Setting type: Int32
# Default value: 15
Max increase scrap spawn pool = 15

[Suits]

## By changing the value, you can choose whether this suit is used on a body or not.
# Setting type: Boolean
# Default value: true
DefaultPlayerSuit = true

## By changing the value, you can choose whether this suit is used on a body or not.
# Setting type: Boolean
# Default value: true
SuitGreen = true

## By changing the value, you can choose whether this suit is used on a body or not.
# Setting type: Boolean
# Default value: true
SuitYellow = true

## By changing the value, you can choose whether this suit is used on a body or not.
# Setting type: Boolean
# Default value: true
SuitPJ = true

## By changing the value, you can choose whether this suit is used on a body or not.
# Setting type: Boolean
# Default value: true
PurpleSuit = true

## By changing the value, you can choose whether this suit is used on a body or not.
# Setting type: Boolean
# Default value: true
BeeSuit = true

## By changing the value, you can choose whether this suit is used on a body or not.
# Setting type: Boolean
# Default value: true
BunnySuit = true

## By changing the value, you can choose whether this suit is used on a body or not.
# Setting type: Boolean
# Default value: true
Orange suit = true

## By changing the value, you can choose whether this suit is used on a body or not.
# Setting type: Boolean
# Default value: true
Green suit = true

## By changing the value, you can choose whether this suit is used on a body or not.
# Setting type: Boolean
# Default value: true
Hazard suit = true

## By changing the value, you can choose whether this suit is used on a body or not.
# Setting type: Boolean
# Default value: true
Pajama suit = true

## By changing the value, you can choose whether this suit is used on a body or not.
# Setting type: Boolean
# Default value: true
Purple Suit = true

## By changing the value, you can choose whether this suit is used on a body or not.
# Setting type: Boolean
# Default value: true
Bee Suit = true

## By changing the value, you can choose whether this suit is used on a body or not.
# Setting type: Boolean
# Default value: true
Bunny Suit = true

