## Settings file was created by plugin WeatherTweaks v0.0.1
## Plugin GUID: WeatherTweaks

[0> Debug]

## Log weather selection
# Setting type: Boolean
# Default value: true
LogWeatherSelection = true

## Log resolving weather variables
# Setting type: Boolean
# Default value: true
LogWeatherVariables = true

## Log logging logs
# Setting type: Boolean
# Default value: true
Logs = true

[1> Uncertain weather]

## Enable uncertain weather mechanic
# Setting type: Boolean
# Default value: true
UncertainWeatherEnabled = false

[1a> Uncertain mechanics]

## Enable Uncertain uncertainty
# Setting type: Boolean
# Default value: true
Uncertain Enabled = true

## Enable Uncertain5050 uncertainty
# Setting type: Boolean
# Default value: true
Uncertain5050 Enabled = true

## Enable Unknown uncertainty
# Setting type: Boolean
# Default value: true
Unknown Enabled = false

[1b> Combined mechanics]

## Enable Eclipsed + Flooded combined weather
# Setting type: Boolean
# Default value: true
Eclipsed + Flooded Enabled = true

## Enable Foggy + Rainy combined weather
# Setting type: Boolean
# Default value: true
Foggy + Rainy Enabled = true

## Enable Stormy + Flooded combined weather
# Setting type: Boolean
# Default value: true
Stormy + Flooded Enabled = true

## Enable Stormy + Rainy combined weather
# Setting type: Boolean
# Default value: true
Stormy + Rainy Enabled = true

## Enable Eclipsed + Rainy combined weather
# Setting type: Boolean
# Default value: true
Eclipsed + Rainy Enabled = true

## Enable Madness combined weather
# Setting type: Boolean
# Default value: true
Madness Enabled = true

## Enable Foggy + Flooded combined weather
# Setting type: Boolean
# Default value: true
Foggy + Flooded Enabled = true

## Enable Foggy + Eclipsed combined weather
# Setting type: Boolean
# Default value: true
Foggy + Eclipsed Enabled = true

## Enable Stormy + Rainy + Eclipsed combined weather
# Setting type: Boolean
# Default value: true
Stormy + Rainy + Eclipsed Enabled = true

## Enable Stormy + Rainy + Flooded combined weather
# Setting type: Boolean
# Default value: true
Stormy + Rainy + Flooded Enabled = true

[1c> Changing mechanics]

## Enable None > Foggy changing weather
# Setting type: Boolean
# Default value: true
None > Foggy Enabled = true

## Enable None > Stormy changing weather
# Setting type: Boolean
# Default value: true
None > Stormy Enabled = true

## Enable Eclipsed > Foggy changing weather
# Setting type: Boolean
# Default value: true
Eclipsed > Foggy Enabled = true

## Enable Foggy > None changing weather
# Setting type: Boolean
# Default value: true
Foggy > None Enabled = true

## Enable Eclipsed > None changing weather
# Setting type: Boolean
# Default value: true
Eclipsed > None Enabled = true

## Enable Stormy > Rainy changing weather
# Setting type: Boolean
# Default value: true
Stormy > Rainy Enabled = true

## Enable Rainy > Eclipsed changing weather
# Setting type: Boolean
# Default value: true
Rainy > Eclipsed Enabled = true

## Enable >Madness> changing weather
# Setting type: Boolean
# Default value: true
>Madness> Enabled = true

[2> Multipliers]

## Maximum difficulty multiplier (between 0 and 1)
# Setting type: Single
# Default value: 0.8
MaxMultiplier = 0.8

## Scale down clear weather's weight based on planet's available random weathers to match % chance 
# Setting type: Boolean
# Default value: true
ScaleDownClearWeather = true

[2a> Difficulty multipliers]

## Difficulty multiplier - game length (quotas done)
# Setting type: Single
# Default value: 0.05
GameLengthMultiplier = 0.05

## Difficulty multiplier - players amount
# Setting type: Single
# Default value: 0.01
GamePlayersMultiplier = 0.01

[3> First day]

## Seed for the first day's weather
# Setting type: Int32
# Default value: 0
FirstDaySeed = 0

## Enable special weather picking algorithm for the first day
# Setting type: Boolean
# Default value: true
FirstDaySpecial = true

## Use random seed for the first day's weather
# Setting type: Boolean
# Default value: true
FirstDayRandomSeed = true

[4> Special modes]

## Always make weather uncertain
# Setting type: Boolean
# Default value: false
AlwaysUncertain = false

## Always make weather unknown
# Setting type: Boolean
# Default value: false
AlwaysUnknown = false

## Always make weather clear - good for testing
# Setting type: Boolean
# Default value: false
AlwaysClear = false

[5> Foggy patch]

## Levels to ignore applying foggy weather patch on
# Setting type: String
# Default value: 
FoggyIgnoreLevels = 

[Weights > Clear]

NoneToNoneWeight = 80

NoneToRainyWeight = 50

NoneToStormyWeight = 35

NoneToFloodedWeight = 10

NoneToFoggyWeight = 20

NoneToEclipsedWeight = 5

[Weights > Eclipsed]

EclipsedToNoneWeight = 150

EclipsedToRainyWeight = 20

EclipsedToStormyWeight = 8

EclipsedToFloodedWeight = 10

EclipsedToFoggyWeight = 30

EclipsedToEclipsedWeight = 5

[Weights > Flooded]

FloodedToNoneWeight = 80

FloodedToRainyWeight = 30

FloodedToStormyWeight = 25

FloodedToFloodedWeight = 5

FloodedToFoggyWeight = 30

FloodedToEclipsedWeight = 20

[Weights > Foggy]

FoggyToNoneWeight = 100

FoggyToRainyWeight = 30

FoggyToStormyWeight = 25

FoggyToFloodedWeight = 5

FoggyToFoggyWeight = 15

FoggyToEclipsedWeight = 10

[Weights > Rainy]

RainyToNoneWeight = 50

RainyToRainyWeight = 30

RainyToStormyWeight = 20

RainyToFloodedWeight = 15

RainyToFoggyWeight = 25

RainyToEclipsedWeight = 10

[Weights > Stormy]

StormyToNoneWeight = 80

StormyToRainyWeight = 55

StormyToStormyWeight = 5

StormyToFloodedWeight = 60

StormyToFoggyWeight = 10

StormyToEclipsedWeight = 40

